[submodule "junior-practice"]
	path = junior-practice
	url = https://github.com/ungaf/junior-practice
[submodule "semester-3/PPOIS/dockerized-ostis-example-app"]
	path = semester-3/PPOIS/dockerized-ostis-example-app
	url = https://github.com/ungaf/dockerized-ostis-example-app
[submodule "semester-3/PPOIS/LW1/googletest"]
	path = semester-3/PPOIS/LW1/googletest
	url = https://github.com/google/googletest
[submodule "semester-3/PPOIS/LW3/googletest"]
	path = semester-3/PPOIS/LW3/googletest
	url = https://github.com/google/googletest
[submodule "semester-3/OS/LW_4/googletest"]
	path = semester-3/OS/LW_4/googletest
	url = https://github.com/google/googletest
[submodule "semester-4/MOIS/LW1/ims.ostis.kb"]
	path = semester-4/MOIS/LW1/ims.ostis.kb
	url = https://github.com/ostis-ai/ims.ostis.kb
[submodule "semester-4/PPOIS/LW1/slang"]
	path = semester-4/PPOIS/LW1/slang
	url = https://github.com/ungaf/slang
[submodule "semester-4/MOIS/LW4/ims.ostis.kb"]
	path = semester-4/MOIS/LW4/ims.ostis.kb
	url = https://github.com/ostis-ai/ims.ostis.kb
[submodule "semester-4/MOIS/LW4/sc-web"]
	path = semester-4/MOIS/LW4/sc-web
	url = https://github.com/ostis-ai/sc-web
[submodule "semester-4/sem4-course-project-note"]
	path = semester-4/sem4-course-project-note
	url = https://github.com/ungaf/sem4-course-project-note
[submodule "semester-4/ostis-bibliography"]
	path = semester-4/ostis-bibliography
	url = https://github.com/ostis-apps/ostis-bibliography
