[submodule "junior-practice"]
	path = junior-practice
	url = https://github.com/ungaf/junior-practice
[submodule "semester-3/PPOIS/dockerized-ostis-example-app"]
	path = semester-3/PPOIS/dockerized-ostis-example-app
	url = https://github.com/ungaf/dockerized-ostis-example-app
[submodule "semester-3/PPOIS/LW1/googletest"]
	path = semester-3/PPOIS/LW1/googletest
	url = https://github.com/google/googletest
[submodule "semester-3/PPOIS/LW3/googletest"]
	path = semester-3/PPOIS/LW3/googletest
	url = https://github.com/google/googletest
[submodule "semester-3/OS/LW_4/googletest"]
	path = semester-3/OS/LW_4/googletest
	url = https://github.com/google/googletest
