################################################################################################
#                                                                                              #
#   Задача: реализовать прямой нечеткий логический вывод                                       #
#   Вариант: 21. Реализовать прямой нечеткий логический вывод, используя импликацию Гёделя     #
#   Авторы: Липский Р. В.   (121701)                                                           #
#           Жолнерчик И. А. (121701)                                                           #
#           Стронгин А. В.   (121701)                                                          #
#                                                                                              #
################################################################################################

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
antlr4-python3-runtime = "4.7.2"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
